.places {
  position: relative;
  z-index: 100;

  .num {
    position: absolute;
    top: -8px;
    right: -4px;

    height: 2.4rem;
    font-size: 1rem;
    width: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.2s ease;

    background-color: #373535ea;
  }

  &:hover .placesBtn {
    background-color: #33333361;
    box-shadow: 0 1px 0 0 #84cc16 inset, -1px 0 0 0 #84cc16 inset,
      1px 0 0 0 #84cc16 inset;
  }

  &:hover .num {
    background-color: var(--color-brand--1);
  }

  &:hover div {
    opacity: 1;
    pointer-events: all;
  }

  &:hover ul {
    opacity: 1;
    pointer-events: all;
  }

  .placesBtn {
    padding: 1rem;
    border: none;
    border-radius: 9px 9px 0 0;
    background-color: transparent;
    color: var(--color-light--3);
    font-weight: 600;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: all 0.2s;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    &:hover {
      background-color: #33333361;
    }

    &:hover + ul {
      opacity: 1;
      pointer-events: all;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4.84rem;

    max-height: 24rem;
    overflow-y: scroll;

    opacity: 0;
    pointer-events: none;

    list-style: none;
    width: 37.5rem;
    right: 0;
    padding: 1rem;
    font-size: 1.4rem;
    position: absolute;
    background-color: var(--color-brand--2);
    border-radius: 0 0 5px 5px;
    background: #333;

    transition: all 0.2s ease;

    &:hover {
      opacity: 1;
      pointer-events: all;
    }

    &:hover + div {
      opacity: 1;
      pointer-events: all;
    }

    &::-webkit-scrollbar {
      width: 0.75rem;
    }

    &::-webkit-scrollbar-track {
      background: #33333361;
    }

    &::-webkit-scrollbar-thumb {
      background: #777;
      border-radius: 1rem;
    }
  }

  ul + div {
    opacity: 0;
    pointer-events: none;
  }

  ul + div:hover {
    opacity: 1;
    pointer-events: all;
  }
}
