.place {
  border-bottom-left-radius: 0.9rem;
  padding: 0.4rem 0.4rem 0.8rem 0.8rem;
  position: relative;

  height: 72%;

  animation: blurIn 1s ease;
}

.place.fullLength {
  height: 100%;
  padding-top: 0.8rem;
}

// PLACE WRAPPER
.placeWrapper {
  background: #333;
  border-radius: 10px;
  height: 100%;

  .formImg {
    position: absolute;
    z-index: 999;
    right: -4.3px;
    top: 0.8rem;
    transform: translateX(100%);
    padding: 0.8rem;
    background-color: rgba(179, 175, 177, 0.3098039216);
    border-radius: 0.9rem;
    height: auto;
    width: 35rem;

    animation: blurIn 0.5s ease;

    div {
      position: relative;

      .times {
        position: absolute;
        right: 4px;
        top: 4px;
        background: rgba(28, 28, 28, 0.3882352941);
        z-index: 999999;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.2rem;
        height: 3.2rem;
        width: 3.2rem;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          background-color: #333333aa;
        }
      }
    }

    img {
      display: block;
      max-width: 100%;
      filter: brightness(0.85);
    }

    h2 {
      color: var(--color-light--3);
      text-transform: uppercase;
      text-align: center;
      z-index: 99999;
      width: 100%;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.95;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 102%) skewY(-6deg);

      span {
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        background-image: linear-gradient(to bottom right, #22c55e, #d2cbcbb0);
        padding: 1rem 2rem;
      }
    }
  }
}

// ANIMATION
@keyframes blurIn {
  from {
    opacity: 0;
    filter: blur(3px);
  }

  to {
    opacity: 1;
    filter: blur(0);
  }
}

// PLACE HEADER
.placeHeader {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: center;
  align-items: center;

  height: 20%;

  display: flex;
  overflow: hidden;
  position: relative;

  img {
    max-width: 100%;
    object-position: 50% 100%;
    height: auto;
    display: block;
  }

  h2 {
    position: absolute;
    bottom: -0.6rem;
    font-size: 1.8rem;
    color: #dedede;
    box-shadow: inset 1px 2px 1px rgba(218, 218, 218, 0.15);
    background: #333;
    border-radius: 0.6rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.5rem 1rem;
    text-align: center;
  }
}

// PLACE BODY
.placeBody {
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  position: relative;

  height: 80%;

  h2 {
    font-size: 1.8rem;
  }
}

// PLACE INFO ROW
.placeInfoRow {
  justify-content: flex-start;
  gap: 0.5rem;
  width: 100%;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  position: relative;

  span {
    font-size: 1.6rem;
    padding-bottom: 0.1rem;
    border-bottom: 1px solid #515151;
    width: 100%;
    color: #dcdcdc;
  }

  p {
    color: #ebebeb;
  }

  a {
    text-decoration: none;
    color: var(--color-brand--1);
    border-bottom: 1px solid transparent;
    width: fit-content;
    transition: all 0.2s;

    &:hover {
      border-bottom: 1px solid var(--color-brand--1);
    }
  }
}

.imgWrap {
  height: 6rem;
  width: 6rem;
  border-radius: 0.4rem;
  border: 1px solid #cecece;
  cursor: pointer;

  position: relative;
  overflow: hidden;

  span {
    opacity: 0;
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-brand--1);
    z-index: 3000;
    text-decoration: none;
    font-size: 1.4rem;
    border-bottom: none;
    transition: all 0.2s ease;
  }

  img {
    display: block;
    max-width: 100%;
    transition: transform 0.2s ease;
  }

  &:hover img {
    transform: scale(1.1);
  }

  &:hover span {
    opacity: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 100;
  }

  &:hover::before {
    opacity: 1;
  }
}

.backBtn {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0.75rem 1rem;
  font-weight: 600;
  font-family: inherit;
  text-transform: uppercase;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.2s ease;

  background-color: transparent;
  border: 1px solid;
  color: #cecece;

  &:hover {
    border-color: transparent;
    color: #333;
    background-color: var(--color-light-brand--1);
  }
}
