.mapview {
  height: calc(100vh - 8rem);
  width: 80%;
  background-color: #1d1b1b;
  padding: 0.8rem 0.8rem 0.8rem 0.4rem;
  position: relative;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.8rem;
    left: 1.8rem;
    z-index: 100;
    height: 4rem;
    width: 8rem;
    font-family: inherit;
    font-size: 1.6rem;
    border-radius: 10rem;
    border: 1px solid #5f5d5ded;

    cursor: pointer;
    color: var(--color-light--2);
    background-color: #1d1b1bed;
    transition: all 0.2s ease;

    &:hover {
      background-color: #323030f3;
    }
  }

  // ACTUAL MAP WRAPPER
  div {
    border-radius: 0.9rem;
  }
}

// Disable the text when on form page
:global([aria-label="Klavye kısayolları"]) {
  display: none !important;
}

// GOOGLE MAPS CONTAINER
.mapContainer {
  width: 100%;
  height: 100%;
}

// DARK AND LIGHT MODE
.mode {
  font-size: 3rem;
  color: var(--color-brand--1);
  animation: blurIn 0.3s ease-in-out;
}

// WHEN FORM IS OPEN (WAITING MAP STATE)
.waiting {
  // ACTUAL MAP WRAPPER
  div {
    cursor: not-allowed;
    opacity: 0.98;
  }

  button {
    opacity: 0.6;
    cursor: not-allowed;

    &:hover {
      background-color: #1d1b1bed;
    }
  }
}

.infoWindow {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem !important;
  gap: 0.3rem !important;

  h2 {
    font-weight: 400;
    font-size: 1.8rem;
  }
}

:global {
  /* Customize the InfoWindow container */
  .gm-style-iw {
    background-color: rgba(117, 160, 38, 0.603) !important;
    border-radius: 10px !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5) !important;
    width: auto !important;
    min-width: 12rem !important;
    height: 6rem !important;
  }

  .gm-style-iw-c {
    padding: 0 !important;
  }

  /* Customize the close button */
  .gm-style-iw-chr {
    color: rgb(21, 21, 21);
    font-size: 10px !important;
    height: 2rem !important;
    position: absolute !important;
    top: -40% !important;
    right: 10% !important;
  }

  /* Customize the content area */
  .gm-style-iw-d {
    background-color: rgba(40, 171, 17, 0.279) !important;
    padding: 10px !important;
    text-align: center !important;
    overflow: hidden !important;
    height: 100% !important;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Customize the close button (aria-label="Kapat") */
  .gm-style-iw-close-btn {
    background-color: transparent !important;
    color: rgb(255, 255, 255) !important;
    font-size: 18px !important;
    border: none !important;
    cursor: pointer !important;
    position: absolute !important;
    top: 0 !important;
  }

  /* Optional: Hover effect for close button */
  .gm-style-iw-close-btn:hover {
    color: darkred !important;
    transform: scale(1.1) !important;
  }
}

// ANIMATON
@keyframes blurIn {
  from {
    filter: blur(3px);
    opacity: 0.3;
  }
}
