.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  z-index: 999;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;

  @include respond($bp-small) {
    display: none;
  }
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.2s ease;
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-brand--1);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--1);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--color-light-brand--1);
  }
}

.menuBtn,
.menuCloseBtn {
  display: none;
  font-size: 4rem;
  color: var(--color-brand--1);
  cursor: pointer;

  @media (max-width: 48em) {
    display: block;
  }
}

.mobileNav {
  background-color: #1d1d1ded;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: all 0.45s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  li {
    list-style: none;
  }

  li a {
    text-decoration: none;
    color: var(--color-light--2);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
  }

  .ctaLink:link,
  .ctaLink:visited {
    &:hover {
      background-color: var(--color-brand--1);
    }
  }
}

.menuClosed {
  left: 100%;
  opacity: 0.25;
}

.menuOpen {
  left: 0;
  opacity: 1;
}
