.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;

  @include respond($bp-small) {
    display: none;
  }
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.2s ease;
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--color-brand--1);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--1);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--color-light-brand--1);
  }
}

.menuBtn {
  display: none;
  font-size: 4rem;
  color: var(--color-brand--1);
  cursor: pointer;

  @media (max-width: 48em) {
    display: block;
  }
}

.menuCloseBtn {
  display: none;
  font-size: 4rem;
  color: var(--color-brand--1);
  cursor: pointer;
  z-index: 99999;

  position: absolute;
  top: 3.4rem;
  right: 3rem;

  @media (max-width: 48em) {
    display: block;
  }
}

.mobileNavList {
  padding: 12rem 2rem;
  background-color: var(--color-dark--0);

  position: absolute;
  top: 0;
  right: 0;
  width: 24rem;
  height: 100vh;

  transform: translateX(100%);
  transition: all 0.35s ease;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mobileNavList.open {
  transform: translateX(0);
  pointer-events: all;
  visibility: visible;
  opacity: 1;
}
