.form {
  color: #fff;
  border-bottom-left-radius: 0.9rem;
  padding: 0.4rem 0.4rem 0.8rem 0.8rem;
  position: relative;

  height: 72%;

  animation: blurIn 1s ease;
}

.form.fullLength {
  height: 100%;
  padding-top: 0.8rem;
}

.formImg {
  position: absolute;
  z-index: 999;
  right: -4.3px;
  top: 0.8rem;
  transform: translateX(100%);
  padding: 0.8rem;
  background-color: rgba(179, 175, 177, 0.3098039216);
  border-radius: 0.9rem;
  height: auto;
  width: 35rem;

  animation: blurIn 1s ease 1s;

  div {
    position: relative;

    .times {
      position: absolute;
      right: 4px;
      top: 4px;
      background: rgba(28, 28, 28, 0.3882352941);
      z-index: 999999;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3.2rem;
      height: 3.2rem;
      width: 3.2rem;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.2s ease;

      &:hover {
        background-color: #333333aa;
      }
    }
  }

  img {
    display: block;
    max-width: 100%;
    filter: brightness(0.85);
  }

  h2 {
    color: var(--color-light--3);
    text-transform: uppercase;
    text-align: center;
    z-index: 99999;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.95;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 102%) skewY(-6deg);

    span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      background-image: linear-gradient(to bottom right, #aaf735c1, #d2cbcbb0);
      padding: 1rem 2rem;
    }
  }
}

// ANIMATION
@keyframes blurIn {
  from {
    opacity: 0;
    filter: blur(3px);
  }

  to {
    opacity: 1;
    filter: blur(0);
  }
}

// COUNTRY WRAPPER
.formWrapper {
  background: #333;
  border-radius: 10px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  padding: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: relative;

  label {
    font-size: 1.6rem;
    padding-bottom: 0.4rem;
    border-bottom: 1px solid #515151;
    color: #dcdcdc;
  }

  input {
    width: 100%;
    padding: 0.8rem 1.2rem;
    font-family: inherit;
    font-size: 1.6rem;
    border: none;
    border-radius: 5px;
    background-color: var(--color-light--3);
    background-color: #1d1b1b;
    color: #ebebeb;
    transition: all 0.2s;

    &:focus {
      outline: none;
      background-color: #1d1b1bc0;
    }
  }

  textarea {
    background-color: #1d1b1b;
    color: var(--color-light--3);
    font-family: inherit;
    font-size: 1.6rem;
    max-width: 100%;
    min-width: 100%;
    max-height: 8.2rem;
    min-height: 8.2rem;
    border-radius: 0.4rem;
    transition: all 0.2s;
    border: none;
    padding: 0.5rem 1rem;

    &:focus {
      outline: none;
      background-color: #1d1b1bc0;
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;

  button {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    font-weight: 600;
    font-family: inherit;
    text-transform: uppercase;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .backBtn {
    background-color: transparent;
    border: 1px solid;
    color: #cecece;

    &:hover {
      border-color: transparent;
      color: #333;
      background-color: #aaf735;
    }
  }

  .addBtn {
    border: none;
    padding: 0.75rem 1.5rem;
    background-color: var(--color-brand--1);
    color: var(--color-light--3);
  }
}

.flag {
  position: absolute;
  right: 1rem;
  top: 4.5rem;

  img {
    height: 2.4rem;
  }
}
