.spinnerContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.6rem;
  background-color: var(--color-dark--1);
  border-radius: 0.9rem;
  animation: blurIn 0.2s ease-in-out;

  p {
    animation: breathe 1s infinite alternate-reverse;
    font-size: 1.5rem;
    color: var(--color-light--1);
  }
}

@keyframes breathe {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes blurIn {
  0% {
    opacity: 0.2;
    filter: blur(3px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.spinner {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: conic-gradient(#362d2d18 10%, #22c55ed0);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: rotate 1.5s infinite linear;
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
