.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark--0);
  height: calc(100vh - 8rem);
  width: 20%;

  @include respond($bp-tablet-landscape) {
    width: 30%;
  }

  @include respond($bp-medium) {
    width: 38%;
  }
}
